In [1]:
# 1. Covert a iteger to a floatig-poit umber.

a=4 #int type
a=float(a)

print(type(a))
print(a)

<class 'float'>
4.0

In [2]:
# 2. Covert a float to a iteger.

b=5.4 # float type
b=int(b)

print(type(b))
print(b)

<class 'int'>
5

In [4]:
# 3. Covert a iteger to a strig.

c=22 #int type
c=str(c)

print(type(c))
print(c)

<class 'str'>
22

In [7]:
# 4. Covert a list to a tuple.

l1 = [ 1,2,3.5,"aman","pal"]
print("my list = ",l1)

#convert list in tuple

l1=tuple(l1)
print("Converted list into tuple = ",l1)

my list =  [1, 2, 3.5, 'aman', 'pal']
Converted list into tuple =  (1, 2, 3.5, 'aman', 'pal')

In [8]:
# 5. Covert a tuple to a list

t1 = ( "shivam","pwskills",34,67)
print("my tuple = ",t1)

# convert tuple into list

t1=list(t1)
print("converted tuple into list = ",t1)

my tuple =  ('shivam', 'pwskills', 34, 67)
converted tuple into list =  ['shivam', 'pwskills', 34, 67]

In [3]:
# 6. Covert a decimal number to biary.

a = 17

a = bin(a)

print(a)

0b10001

In [ ]:
# 6. Covert a non-zero number to boolean.